# Dependencias
node_modules/

# Variables de entorno
.env

package-lock.json
package.json
# Cachés y configuraciones temporales
.wwebjs_auth/
.wwebjs_cache/

# Logs
*.log

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos del editor
.vscode/
.idea/
*.swp

